<!-- <a routerLink="home">Home</a>
<a routerLink="productList">Product List</a>
<a routerLink="productDetail">Product Detail</a>
<a routerLink="star">Star</a> -->



<mat-toolbar class="navColor">
<div>Acme Product Management</div>
<div class="navSpacing">
  <span><a routerLink="home">Home</a></span>
  <span><a routerLink="productList">Product List</a></span>
  <span><a routerLink="productDetail">Product Detail</a></span>
  <span><a routerLink="star">Star</a></span>
</div>
</mat-toolbar>

<section  class="container">
  <router-outlet></router-outlet>
</section>
