.navbar{
    justify-content: space-between;
}

.navSpacing{
    padding-left: 5rem;
}

.navColor{
    background: rgb(170, 166, 166)
}

span{
    padding: 1rem;
}

a{
    color : rgba(0, 0, 0, 0.836);
}