<section>
    First Name: <input type="text" [ngModel]="firstName" (ngModelChange)="firstNameChange($event)">
    Last Name: <input type="text" [(ngModel)]="lastName">
    <br>
    <!-- <br> -->
    <h4>FisrtName : {{firstName}}</h4>
    <h4>LastName : {{lastName}}</h4>
</section>
<hr class="col-lg-12" style="background: black">
<section>
<h4>Check Prime Number</h4>
Enter a Number(Sync): <input type="number" [(ngModel)]="number" [style.background]="isPrime()">
<br>
<button (click)="observe()">Click</button><br>
Enter a Number(Async): <input type="number" [ngModel]="numberAsync" (ngModelChange)="isPrimeAsync($event)" [style.background]="primeAsyncColor">
</section>